.quiz {
  padding-top: 2rem;

  &-title {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
  }
  &-list {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  &-item {
    span {
      display: block;
      line-height: 1.3;
    }
    display: inline-block;
    text-align: center;
    width: 20%;
    margin: 2rem;

    cursor: pointer;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
  }
}
.ets2021 {
  background-color: #3498db;
  box-shadow: 0 0.5rem 0rem 0rem #2980b9;
}
.ets2020 {
  background-color: #e74c3c;
  box-shadow: 0 0.5rem 0rem 0rem #c0392b;
}
.ets2019 {
  background-color: #009432;
  box-shadow: 0 0.5rem 0rem 0rem #00521b;
}
.ets2018 {
  background-color: #ffc312;
  box-shadow: 0 0.5rem 0rem 0rem #f79f1f;
}
.ets2017 {
  background-color: #833471;
  box-shadow: 0 0.5rem 0rem 0rem #4e1340;
}
.hacker3 {
  background-color: #40407a;
  box-shadow: 0 0.5rem 0rem 0rem #2c2c54;
}

.noneActive {
  background-color: #ccc;
  box-shadow: 0 0.5rem 0rem 0rem rgb(139, 137, 137);
  color: rgb(134, 134, 134);
  pointer-events: none;
}

@include maxWidth(480px) {
  .quiz-item {
    width: 80%;
  }
} ;
